/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*Colors*/

:root{
    /* Primary */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desatured-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --Dark-gray:hsl(0, 0%, 59%);

}
body{
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 10vh, left 50vw top 30vh;
}

main{
display: flex;
flex-direction: center;
align-items: center;
margin: auto;
margin-top: 60px;
}
.pattern{
    z-index: -9999;
    width: 400px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    background-color: white;
    border: 1px solid var(--dark-cyan);
    border-radius: 10px;
}
.contenedor .victor{
width: 20%;
border: 8px solid white;
border-radius: 60px;
z-index: 1;
margin: auto;
}
.contenedor h1{
    font-size: 18px;
    /* color: var(--Dark-gray); */
}
.contenedor .age{
    font-size: 18px;
    font-weight: 400;
    color:var(--Dark-gray)
}
.contenedor p{
    color: var(--Dark-gray);
    font-weight: 400;
}
.contenedor1{
    margin: auto;
}
.contenedor1 .photo{
    position: relative;
    z-index: 1;
    border-radius: 20px 20px 1px 1px;
    top: 30px;
}
.contain{
    border-top: 1px solid var(--Dark-gray);
    padding: 2em;
    display: flex;
}   
.contain h2{
    margin-left: 15px;
    margin: auto;
    font-family: 'Kumbh Sans', sans-serif;;
    font-size: 22px;
}
.contain .act{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    font-weight: 400;
    font-size: 13px;
    color: var(--Dark-gray);
    flex-direction: column;
}